<div class="section toc" id="css-nav">
    <div class="col">
        <ul>
            <li><a href="#css-indentation">缩进</a></li>
            <li><a href="#css-semicolon">分号</a></li>
            <li><a href="#css-space">空格</a></li>
            <li><a href="#css-blank-line">空行</a></li>
            <li><a href="#css-new-line">换行</a></li>
            <li><a href="#css-comments">注释</a></li>
            <li><a href="#css-quote-marks">引号</a></li>
            <li><a href="#css-color">颜色</a></li>
            <li><a href="#css-naming-rule">命名</a></li>
            <li><a href="#css-declaration-order">属性声明顺序</a></li>
            <li><a href="#css-shorthand">简写属性声明</a></li>
            <li><a href="#css-media-queries">媒体查询</a></li>
            <li><a href="#css-scss">SCSS</a></li>
            <li><a href="#css-miscellaneous">其他</a></li>
        </ul>
    </div>
  
</div>
