<div class="section toc" id="html-nav">
    <div class="col">
        <ul>
            <li><a href="#html-syntax">语法</a></li>
            <li><a href="#html-doctype">HTML5 doctype</a></li>
            <li><a href="#html-lang">lang属性</a></li>
            <li><a href="#html-encoding">字符编码</a></li>
            <li><a href="#html-ie-compatibility-mode">IE兼容模式</a></li>
            <li><a href="#html-style-script">引入CSS和JS</a></li>
            <li><a href="#html-attribute-order">属性顺序</a></li>
            <li><a href="#html-boolean-attributes">boolean属性</a></li>
            <li><a href="#html-javascript">JS生成标签</a></li>
            <li><a href="#html-reducing-markup">减少标签数量</a></li>
            <li><a href="#html-practicality">实用高于完美</a></li>
        </ul>
    </div>
</div>
