<div class="section toc" id="js-nav">
    <div class="col">
        <ul>
            <li><a href="#js-indentation">缩进</a></li>
            <li><a href="#js-line-max-length">单行长度</a></li>
            <li><a href="#js-semicolon">分号</a></li>
            <li><a href="#js-space">空格</a></li>
            <li><a href="#js-blank-line">空行</a></li>
            <li><a href="#js-new-line">换行</a></li>
            <li><a href="#js-comments-single-line">单行注释</a></li>
            <li><a href="#js-comments-multiline">多行注释</a></li>
            <li><a href="#js-comments-documentation">文档注释</a></li>
            <li><a href="#js-quote-marks">引号</a></li>
            <li><a href="#js-variable-naming">变量命名</a></li>
            <li><a href="#js-variable-declaration">变量声明</a></li>
            <li><a href="#js-function">函数</a></li>
            <li><a href="#js-array-object">数组、对象</a></li>
            <li><a href="#js-brace">括号</a></li>
            <li><a href="#js-literal-value-null">null</li>
            <li><a href="#js-literal-value-undefined">undefined</li>
            <li><a href="#js-miscellaneous">其他</a></li>
        </ul>
    </div>
</div>
